nav {
padding: 0.1em 0;
     background-color: #79BAF9;
     margin-top: -1em;
     border: solid 0.1px rgba(0, 0, 0, 0.342) ;
     
li {
  
    text-align: center;
    display: inline;
    cursor: pointer;
    padding: 1em;
        color: #fff;
        &:hover{
            color: rgb(68, 64, 131);
        }
    
}}