.wrapper{
  padding: 3em;
}
article{
    padding: 3em;
    border: solid rgb(68, 64, 131);
    margin: 1em;
    color: #fff;
    text-shadow: 2px 2px rgb(68, 64, 131);
}
.article1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIqdc13cx4Wxmlz5r3mR2iKU2pAs9M0tJE0soIuCtQiDcbOjR5_HR0XKRQHlyQpkOhYEw&usqp=CAU);
    background-repeat: no-repeat;
    background-size:cover;
}
.article2{
    background-image: url(https://previews.123rf.com/images/viktorydesign/viktorydesign1712/viktorydesign171200175/92593472-space-watercolor-background-abstract-galaxy-painting-cosmic-texture-with-stars.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.article3{
    background-image: url(https://t3.ftcdn.net/jpg/03/25/29/62/240_F_325296253_OSXhGcsdI8OEsmYW4iPuI2OHvzzi80LN.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.article4{
    background-image: url(https://t3.ftcdn.net/jpg/04/44/39/80/240_F_444398090_ek1YrGhZa2AZmiUZwALuMe3cRafivme9.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.article5{
    background-image: url(https://t4.ftcdn.net/jpg/02/65/23/47/240_F_265234761_dAZhIgtIjMRlcNA6Q5TN4pIaDyXNWbFz.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}